/*font-family: 'PT Sans Narrow', sans-serif;
font-family: 'Source Code Pro', monospace;
font-family: 'EB Garamond', serif;*/
body{
	
	margin: 0;
}
.header h1{
	color: white;
   text-align: center;
   font-family: 'EB Garamond', serif;
   background-color: #800000;
   height: 50px;
}
.nav{
	width: 100%;
	background-color: #FFDAB9;
    opacity: 0.5;
    height: 85px;
   line-height: 85px;


}
.nav a{
	color: black;
	text-decoration: none;
	font-weight: bold;
    font-family: 'EB Garamond', serif;
    font-size: 25px;
     margin-top: 0;
	
	
}
.nav li{
	list-style: none;
	
	padding-left: 40px;
	margin: 0 auto;
    
}
.nav ul{
	display: flex;
	margin: 0;
	padding: 0;
}
.img img{
	border-radius: 40px;
	width: 300px;
	height: 300px;
	
	margin: 100px 100px;

}
.main{
	
	text-align: center;
	background-image: url(img/16440031867808.jpg);
	width: 100%;
	height: 900px;
	background-color: white;



}
.main img{
	background-position: center; 
	

}
.main .name{
 line-height: 900px;
 font-size: 100px;
 font-family: 'EB Garamond', serif;
 
	opacity: 0.7;
}

.akce p{
	text-align: center;
	font-size: 50px;
	font-family: 'EB Garamond', serif;
}
.table{


border: 1px solid #000;

margin: auto;
	table-layout: fixed;
	
	

}
.table th {
	font-weight: bold;
	padding: 5px;
	background: #efefef;
	border: 1px solid #dddddd;
}
.table td{
	padding: 5px 10px;
	border: 1px solid #eee;
	text-align: center;
}
.table tbody tr:nth-child(odd){
	background: #fff;
}
.table tbody tr:nth-child(even){
	background: #F7F7F7;
}
.my-work{
	font-size: 40px;
	text-align: center;
	font-family: 'EB Garamond', serif;
}
.prajs h1{
	text-align: center;
	font-size: 100px;
	font-family: 'EB Garamond', serif;
}
.price{
	width: 600px;
	border: 1px solid #000;

margin: auto;
	table-layout: fixed;
}
.price th {
	text-align: center;
	font-weight: bold;
	padding: 5px;
	background: #efefef;
	border: 1px solid #dddddd;
}
.price td{
	padding: 5px 10px;
	border: 1px solid #eee;
	text-align: center;
}
.price tbody tr:nth-child(odd){
	background: #fff;
}
.price tbody tr:nth-child(even){
	background: #F7F7F7;
}
.info .num{
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 50px;
	font-family: 'EB Garamond', serif;
	color: black;
	text-align: left;


}
.info img{
	margin-top: 100px;
	border-radius: 30%;
	width: 50px;
	height: 50px;
}
.info a{
	font-size: 25px;
}
.info .jm{
	margin-top: 2px;
	font-size: 25px;
	font-family: 'EB Garamond', serif;
	color: black;
	text-align: left;
}
.btntop{
	position: fixed;
	padding: 10px;
	color: #fff;
	background-color:#4c4b4b;
	bottom: 50px;
	right: 30px;
	border-radius: 50px;
}
